.doctor-page{

    overflow: hidden;
}
.table-appointments {
    border: 1px solid #ddd;
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e1f5fe;
}

textarea{
    width : 100%;
}
.search-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 20px;
}

.search {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #040404;
    width: 45%;
    margin-right: 10px;
    font-size: 20px;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #040404;
    width: 45%;
    background-color: #fff;
    font-size: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #d4d7db;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 100%;

}

button:hover {
    background-color: #535557;
}

